mixin entityCard(entity={})
    .entity  
        .entity__hero
            .entity__actions
                if user
                    .entity__action.entity__action--heart
                        form.favorite(method="POST" action=`entities/favorite/${entity._id}`)
                            - const entityStrings = user.favorites.map(obj => obj.toString())
                            - const heartClass = entityStrings.includes(entity._id.toString()) ? 'favorite__button--hearted' : ''
                            button.favorite__button(type="submit" name="heartButton" class=heartClass)
                                != h.icon('heart')  
                if user && entity.postedBy == user.id
                    .entity__action.entity__action--edit
                        a(href=`/entities/edit/${entity._id}/`)
                            != h.icon('pencil')  
                .entity__action.entity__action--count
                    a(href=`/test`)
                        != h.icon('review')         
            img(src=`/uploads/${entity.photo || 'entity-default.jpeg'}`)
            h2.title
                a(href=`/entities/${entity.slug}`) #{entity.name}
        .entity__details
            p= entity.description.split(' ').slice(0,25).join(' ')   
