mixin entityForm(entity={})
    //- This form used for adding and editing, the cation use same URL for them
    form(action=`/entities/add/${entity._id ||''}` method="POST" enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input.form-control(type="text" name="name" value=entity.name)
        .form-group
            label(for="description") Desription
            textarea.form-control(name="description" )= entity.description

        .form-group
            label(for="author") Author
            input.form-control(type="text" name="author" value=entity.author)

        .form-group
            label(for="publishDate") Publish Date
            input.form-control(type="date" name="publishDate" value=entity.publishDate || h.moment().format('YYYY-MM-DD'))
        
        //- Image Upload
        .form-group
            label(for="photo") Photo
            input.form-control(type="file", name="photo", id="photo", accept="image/gif, image/png, image/jpeg")
            if entity.photo
                img(src=`/uploads/${entity.photo}`, alt=entity.name)
             
        
        -const choices =['Angular', '.NET', 'React', 'Node.js', 'JavaScript', 'Python', 'Scala', 'TypeScript']
        -const tags = entity.tags || []
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                    label(for=choice) #{choice}
        button.btn.btn-primary.btn-lg.center-block(type="submit") Save
